@page "/Users/profile"
@using WebApplicationApi.Models.DataModels
@using WebAppUI.Services
@using Microsoft.AspNetCore.Components
@using WebApplicationApi.Enums
@using WebApplicationApi.Models.Dtos.User
@inject UserService UserService

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container mt-5">
        <div class="row justify-content-start">
            <div class="col-md-6 col-sm-8 col-12">
                <EditForm Model="dto" OnSubmit="SaveUser" FormName="editUserForm">
                    <div class="mb-3">
                        <label for="idInput" class="form-label">User Id</label>
                        <InputNumber id="idInput" class="form-control" @bind-Value="Id" disabled />
                    </div>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <InputText id="nameInput" class="form-control" @bind-Value="dto.Name" />
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email</label>
                        <InputText id="emailInput" class="form-control" @bind-Value="dto.Email" />
                    </div>
                    <div class="mb-3">
                        <label for="phoneInput" class="form-label">Phone Number</label>
                        <InputText id="phoneInput" class="form-control" @bind-Value="dto.Phone" />
                    </div>
                    <div class="mb-3">
                        <label for="addressInput" class="form-label">Address</label>
                        <InputText id="addressInput" class="form-control" @bind-Value="dto.Address" />
                    </div>
                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Login</label>
                        <InputText id="loginInput" class="form-control" @bind-Value="dto.Login" />
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <InputText id="passwordInput" class="form-control" @bind-Value="dto.Password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </EditForm>
            </div>
        </div>
    </div>
}

@inject NavigationManager NavigationManager
@code {

    [Parameter]
    public int Id { get; set; }

    public UserModel user { get; set; }

    [SupplyParameterFromForm]
    public UserDto? dto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (user == null)
        {
            user = await UserService.GetUserByIdAsync(Id);
        }

        dto = dto ?? new UserDto
            {
                Name = user.Name,
                Address = user.Address,
                Email = user.Email,
                Login = user.Login,
                Password = user.Password,
                Phone = user.Phone,
                Role = (Role)user.RoleId
            };
    }

    protected async Task SaveUser()
    {
        await UserService.EditUserAsync(Id, dto);
        NavigationManager.NavigateTo("/");
    }


}
