@page "/"
@using WebApplicationApi.Models.Dtos
@using WebApplicationApi.Enums

<PageTitle>BookShop</PageTitle>

<h1>Welcome to the bookshop</h1>


@code {
    private LoginDto loginDto = new LoginDto();
    private Role? role;

    public void Authenticate()
    {
        role = (loginDto.Username, loginDto.Password) switch
        {
            ("admin", "admin") => Role.Admin,
            ("customer", "customer") => Role.Customer,
            ("manager", "manager") => Role.Manager,
            _ => null
        };
    }
}