@page "/"
@using WebApplicationApi.Models.Dtos
@using WebApplicationApi.Enums
@using WebAppUI.Services
@inject AuthService AuthService

<PageTitle>BookShop</PageTitle>

<h1>Welcome to the bookshop!</h1>

@if (AuthService.CurrentRole == Role.Admin)
{
    <h2>You are logged in as admin.</h2>
}
else if (AuthService.CurrentRole == Role.Customer)
{
    <h2>You are logged in as customer</h2>
}
else if (AuthService.CurrentRole == Role.Manager)
{
    <h2>You are logged in as manager</h2>
}
@if (!AuthService.IsAuthenticated())
{
    <h2>Please log in to access your dashboard.</h2>
}


@code {

}