<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bookshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/Products">Catalogue</a>
                <a class="nav-link" href="/Users">Users</a>
                <a class="nav-link" href="/Bookings">Bookings</a>
                <a class="nav-link" href="/Login">Login</a>
            </div>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

